body {
    background-image: url('letterpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  #letter-content {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
  }
  

  #letter-display {
    position: fixed; /* 화면 중앙에 고정 */
    top: 25%; /* 상단 여백 50% */
    left: 50%; /* 왼쪽 여백 38.2% */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    width: 26%; /* 너비 50% */
    margin: 0 auto; /* 자동 여백 */
    padding: 80px; /* 패딩 100px */
    border: 0px solid #ccc; /* 테두리 */
    transition: all 0.5s ease; /* 애니메이션 효과 */
    font-family: 'Noto sans', sans-serif;
  }
  
  #confetti-container {
    position: fixed; /* 화면 전체를 덮음 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 마우스 이벤트 무시 */
    z-index: 9999; /* 다른 요소 위에 표시 */
  }
  
  .confetti {
    position: relative; /* 임의의 위치에서 나타남 */
    width: 20px;
    height: 20px;
    background-image: url('heart.png'); /* 하트 이미지 사용 */
    background-size: cover;
    background-position: center;
    animation: fall 5s ease-in-out infinite; /* 애니메이션 설정 */
  }
  
  @keyframes fall {
    0% {
      top: 0;
      transform: rotate(0deg);
    }
    100% {
      top: 100%;
      transform: rotate(360deg);
    }
  }
  
  #display-button {
    position: absolute;
    top: 650px;
    right: 7%;
    transform: translate(-50%, -50%);
  }
 
  @font-face {
    font-family: 'GrandifloraOne';
    src: url("https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

 
  .grandiflora-one-regular {
    font-family: 'GrandifloraOne', cursive;
  }
  
  h1 {
    position: absolute;
    top: 20px; /* 상단 여백 20px */
    left: 50%; /* 왼쪽 여백 50% (가운데 정렬) */
    transform: translate(-50%, 0); /* 가운데 정렬을 위한 추가 속성 */
    font-family: 'GrandifloraOne', serif;
  }
  
